@model PVI_Final_Condominios.Models.LoginModels
@{
    ViewBag.Title = "Login";
}

<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%
    }

    #Contenedor {
        display: grid;
        justify-content: center; /* Centrar horizontalmente */
        align-content: center; /* Centrar verticalmente */
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin-bottom: 20px;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lbl {
        font-size: 1rem;
        margin-bottom: 1px;
        color: #555;
    }

    .txtdatos {
     padding: 10px;
    }

    #BtnLogin {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        font-size: 1rem;
        color: #fff;
        background-color: #0ea77f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #BtnLogin:hover {
        background-color: #088a63;
    }
</style>

<form method="post">
        <div id="Contenedor">
            <h2>Bienvenido</h2>

            <label class="lbl" for="email">Dirección de correo electrónico</label>
            <div class="txtdatos">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
            </div>


            <label class="lbl" for="password">Contraseña</label>
            <div class="txtdatos">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            </div>
            <input id="BtnLogin" type="submit" value="Continuar" />

        </div>
</form>






