
@{
    ViewBag.Title = "Index";
}

<style>
    .midiv {
        height: 50%;
    }

        .midiv span {
            font-size: 1.5rem; /* Tamaño de la letra dentro de los spans */
            color: #333; /* Cambia el color si es necesario */
        }
</style>

@if (ViewBag.Text != null)
{
    <h2>Éxito</h2>
    <div class="alert alert-success midiv">
        <span>@ViewBag.Text</span>
    </div>
    <a href="@ViewBag.Link" class="btn btn-dark">Regresar</a>
}
else if (ViewBag.Text2 != null)
{
    <h2>Error</h2>
    <div class="alert alert-danger midiv">
        <span>@ViewBag.Text2</span>
    </div>
    <a href="@ViewBag.Link" class="btn btn-dark">Regresar</a>
}
