<h2>Crear Cobros</h2>

<form method="post" id="myform">
    <div class="md-3">
        <label class="form-label" for="idCliente">Cliente</label>
        <select id="idCliente" name="idCliente" class="form-control">
            <option value="">Seleccione un cliente</option>
        </select>
    </div>

    <div class="md-3">
        <label class="form-label" for="idCasa">Casa</label>
        <select id="idCasa" name="idCasa" class="form-control">
            <option value="">Seleccione una casa</option>
        </select>
    </div>

    <div class="md-3">
        <label class="form-label" for="anno">Año</label>
        <select id="anno" name="anno" class="form-control">
            <option value="">Seleccione un año</option>
        </select>
    </div>

    <div class="md-3">
        <label class="form-label" for="mes">Mes</label>
        <select id="mes" name="mes" class="form-control">
            <option value="">Seleccione un mes</option>
        </select>
    </div>

    <div class="mt-2 mb-3">
        @foreach (var servicio in ViewBag.servicios)
        {
            <div class="mt-1">
                @*El atributo "name" es el que pasamos abajo en el js para definir que es requerido para poder guardar*@
                <input type="checkbox" id="servicioSeleccionado_@servicio.Id_servicio" name="servicio" value="@servicio.Id_servicio" />
                <label class="form-label" for="servicioSeleccionado_@servicio.Id_servicio">@servicio.Column4 : @servicio.Nombre</label>
            </div>
        }
    </div>

    <input type="submit" id="Guardado" @*onclick="guardarServicios();"*@ class="btn btn-primary" value="Guardar" />
    <a href="/Cobros/ConsultarCobros" class="btn btn-secondary">Regresar</a>
</form>


@if (ViewBag.Estadocasa != null)//Nota: Se recarga la pagina al coincidir y se borran los datos selecionados
{
    <div id="modalAlert" title="Alerta">
        <p>No se ha logrado realizar el cobro debido a que existe un cobro pendiente en la casa elegida</p>
    </div>
}




